.btn {
    width: 135px;
    height: 42px;
    border: 1px solid #FFFFFF;
    background: transparent;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all;
}