<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dist/css/stye.min.css">
    <link rel="stylesheet" href="./dist/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@300;400;600&display=swap" rel="stylesheet">
    <title>AXIT</title>
</head>
<body>
    <header class="header">
        <div class="container header__container">
            <div class="navigation">
                <div class="logo navigation__logo">
                    <a href="" class="logo__link">
                        <img src="./dist/img/logo/AXIT.png" alt="logo" class="logo__img">
                    </a>
                </div>
                <div class="burger">
                    <span></span>
                </div>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a href="#feautures" class="menu__link">feautures</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="#about" class="menu__link">about</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="#pricing" class="menu__link">pricing</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="#reviews" class="menu__link">reviews</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="#contact" class="menu__link">contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <section id="feautures" class="axit">
            <div class="axit__overlay"></div>
            <div class="container axit__container">
                <div class="axit__wrapper">
                    <a href="#" class="axit__link-logo">
                        <img src="./dist/img/logo/AXIT.png" alt="logo" class="axit__img">
                    </a>
                    <h1 class="title axit__title">MODERN AXURE TEMPLATE FOR BEAUTIFUL PROTOTYPES</h1>
                    <div class="subtitle axit__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean</div>
                    <button class="btn axit__btn">Download</button>
                </div>
                <div class="axit__contact">
                    <div class="axit__contact-title">Try Your <span>FREE</span> Trial Today</div>
                    <form action="" class="axit__form">
                        <input type="text" class="axit__form-input" placeholder="Name">
                        <input type="email" class="axit__form-input" placeholder="E-mail">
                        <input type="password" class="axit__form-input" placeholder="Password">
                        <button class="axit__form-btn">Get Started</button>
                    </form>
                </div>
            </div>
        </section>
        <section id="social" class="social">
            <div class="container social__container">
                <div class="social__block">
                    <h3 class="social__title">Social Media</h3>
                    <div class="social__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Aenean euismod bibendum laoreet.</div>
                </div>      
                <div class="social__block-links">
                    <a href="" class="social__link fab fa-facebook-f"></a>
                    <a href="" class="social__link fab fa-vk"></a>
                    <a href="" class="social__link fab fa-twitch"></a>
                    <a href="" class="social__link fab fa-twitter"></a>
                    <a href="" class="social__link fab fa-telegram"></a>
                    <a href="" class="social__link fab fa-instagram"></a>
                    <a href="" class="social__link fab fa-youtube"></a>
                </div>
            </div>
        </section>
        <section id="about" class="tabs">
            <div class="container tabs__container">
                <div class="tabs__buttons">
                    <button class="tabs__btn tabs__btn--active">tab1</button>
                    <button class="tabs__btn">tab2</button>
                    <button class="tabs__btn">tab3</button>
                </div>
                <div class="tabs__content">
                    <h4 class="tabs__content-title">Tabs with soft transitioning effect.</h4>
                    <div class="tabs__content-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
                        bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra 
                        justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque 
                        penatibus et magnis dis parturient montes.
                        <br> <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
                        bibendum laoreet.</div>
                    <button class="btn tabs__content-btn">Download</button>
                </div>
                <div class="tabs__images">
                    <img class="tabs__images-item" src="./dist/img/city.png" alt="city">
                </div>
            </div>
        </section>
        <section id="awesome" class="awesome">
            <div class="container awesome__container">
                <h2 class="title awesome__title">WHY THIS IS AWESOME</h2>
                <div class="subtitle awesome__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="awesome__items">
                    <div class="awesome__item">
                        <div class="awesome__item-wrapper">
                            <img src="./dist/icons/awesome/lamp.svg" alt="lamp" class="awesome__img">
                        </div>
                        <div class="awesome__item-title">Thoughtful Design</div>
                        <div class="awesome__item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing 
                            elit. Aenean euismod bibendum laoreet. Proin gravida  dolor sit amet lacus accumsan et viverra.</div>
                    </div>
                    <div class="awesome__item">
                        <div class="awesome__item-wrapper">
                            <img src="./dist/icons/awesome/keyboard.svg" alt="keyboard" class="awesome__img">
                        </div>
                        <div class="awesome__item-title">Well Crafted</div>
                        <div class="awesome__item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing 
                            elit. Aenean euismod bibendum laoreet. Proin gravida  dolor sit amet lacus accumsan et viverra.</div>
                    </div>
                    <div class="awesome__item">
                        <div class="awesome__item-wrapper">
                            <img src="./dist/icons/awesome/lightning.svg" alt="lightning" class="awesome__img">
                        </div>
                        <div class="awesome__item-title">Easy to Customize</div>
                        <div class="awesome__item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing 
                            elit. Aenean euismod bibendum laoreet. Proin gravida  dolor sit amet lacus accumsan et viverra.</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="pricing" class="pricing">
            <div class="container container__pricing">
                <h2 class="title pricing__title">pricing options</h2>
                <div class="subtitle pricing__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="pricing__items">
                    <div class="pricing__item pricing__item-down">
                        <div class="pricing__item-name">Basic</div>
                        <div class="pricing__item-price">$20</div>
                        <div class="pricing__item-sub">Free for life</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                    </div>
                    <div class="pricing__item">
                        <div class="pricing__item-name">Basic</div>
                        <div class="pricing__item-price">$20</div>
                        <div class="pricing__item-sub">Free for life</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                    </div>
                    <div class="pricing__item pricing__item-down">
                        <div class="pricing__item-name">Basic</div>
                        <div class="pricing__item-price">$20</div>
                        <div class="pricing__item-sub">Free for life</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                        <div class="pricing__item-rate">1 gb of space</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="reviews" class="customers">
            <div class="container">
                <h2 class="title customers__title">what our customers are saying</h2>
                <div class="subtitle customers__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="customers__wrapper">
                <div class="customers__block">
                    <div class="customers__info">Lorem ipsum dolor sit amet, 
                        consectetur adipisicing elit. Doloribus 
                        accusamus expedita repellat similique 
                        odio aspernatur ex, architecto eaque 
                        quo suscipit.</div>
                    <div class="customers__item">
                        <div class="customers__img-wrapper">
                            <img src="./dist/img/avatar.svg" alt="avatar" class="customers__img">
                        </div>
                        <div class="customers__wrapper-name">Jeremy H. <br> <span>manager</span></div>
                    </div>
                </div>
                <div class="customers__block">
                    <div class="customers__info">Lorem ipsum dolor sit amet, 
                        consectetur adipisicing elit. Doloribus 
                        accusamus expedita repellat similique 
                        odio aspernatur ex, architecto eaque 
                        quo suscipit.</div>
                    <div class="customers__item">
                        <div class="customers__img-wrapper">
                            <img src="./dist/img/avatar.svg"" alt="avatar" class="customers__img">
                        </div>
                        <div class="customers__wrapper-name">Jeremy H. <br> <span>manager</span></div>
                    </div>
                </div>
                <div class="customers__block">
                    <div class="customers__info">Lorem ipsum dolor sit amet, 
                        consectetur adipisicing elit. Doloribus 
                        accusamus expedita repellat similique 
                        odio aspernatur ex, architecto eaque 
                        quo suscipit.</div>
                    <div class="customers__item">
                        <div class="customers__img-wrapper">
                            <img src="./dist/img/avatar.svg"" alt="avatar" class="customers__img">
                        </div>
                        <div class="customers__wrapper-name">Jeremy H. <br> <span>manager</span></div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <section id="stylish" class="stylish">
            <div class="stylish__overlay"></div>
            <div class="container">
                <h2 class="title stylish__title">STYLISH AXURE DESIGN</h2>
                <div class="subtitle stylish__subtitle">Use the sections you need, remove the ones you don't.  Create gorgeous prototypes faster than ever!</div>
                <button class="btn stylish__btn">Download</button>
            </div>
        </section>
        <section id="contact" class="contact">
            <div class="container">
                <h2 class="title contact__title">contact us</h2>
                <div class="subtitle contact__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="contact__wrapper">
                    <form class="contact__form" action="">
                        <input class="contact__form-input" type="text" placeholder="Name">
                        <input class="contact__form-input" type="text" placeholder="E-mail">
                        <input class="contact__form-input" type="text" placeholder="Password">
                        <textarea class="contact__form-textarea" name="Message" placeholder="Massage"></textarea>
                        <button class="contact__form-btn">Send Message</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__links">
                <a href="" class="footer__link fab fa-facebook-f"></a>
                <a href="" class="footer__link fab fa-vk"></a>
                <a href="" class="footer__link fab fa-twitch"></a>
                <a href="" class="footer__link fab fa-twitter"></a>
                <a href="" class="footer__link fab fa-telegram"></a>
                <a href="" class="footer__link fab fa-instagram"></a>
                <a href="" class="footer__link fab fa-youtube"></a>
            </div>
            <div class="footer__copyrite">
                &#169;
                <div class="footer__copyrite-text">2015 Axure Themes</div>
            </div>
        </div>
    </footer>
</body>
</html>